@import 'https://fonts.googleapis.com/css?family=Orbitron';
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: antiquewhite;
}

.tips a i {
  padding-top: 10px;
  font-size: x-large;
  font-weight: bold;
}

.calculator_container {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 420px;
  width: 300px;
  background-color: #1b1919;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
}

.calculator_container:before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 147px;
  width: 300px;
  background-color: #ff1308;
}

.calculator_display_result {
  height: 147px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 300px;
  padding: 10px;
}

.equation {
  padding-left: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.result {
  position: relative;
  top: 10px;
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  font-weight: bold;
}

.first_row_operators, .second_row_operators, .third_row_operators, .fourth_row_operators {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68.25px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  color: white;
  font-size: large;
}

.first_row_operators:last-child, .second_row_operators:last-child, .third_row_operators:last-child, .fourth_row_operators:last-child {
  background-color: gray;
}

.first_row_operators .operators, .second_row_operators .operators, .third_row_operators .operators, .fourth_row_operators .operators {
  position: relative;
  background-color: #1b1919;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*span{
        position: relative;
        top: 2px;
        left:9px;
    }*/
}

.first_row_operators .operators:hover, .second_row_operators .operators:hover, .third_row_operators .operators:hover, .fourth_row_operators .operators:hover {
  background-color: #353232;
}

.first_row_operators .equals, .second_row_operators .equals, .third_row_operators .equals, .fourth_row_operators .equals {
  position: relative;
  background-color: #06b506;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*span{
        position: relative;
        top: 2px;
        left:9px;
    }*/
}

.first_row_operators .equals:hover, .second_row_operators .equals:hover, .third_row_operators .equals:hover, .fourth_row_operators .equals:hover {
  background-color: #08e608;
}

.first_row_operators .delete, .second_row_operators .delete, .third_row_operators .delete, .fourth_row_operators .delete {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  background-color: gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*span{
        position: relative;
        top: 2px;
        left:9px;
    }*/
}

.first_row_operators .delete:hover, .second_row_operators .delete:hover, .third_row_operators .delete:hover, .fourth_row_operators .delete:hover {
  background-color: #9a9a9a;
}

.fourth_row_operators .operators {
  position: relative;
  background-color: gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*span{
        position: relative;
        top: 2px;
        left:9px;
    }*/
}

.fourth_row_operators .operators:hover {
  background-color: #9a9a9a;
}
