@import "variables";
@import "mixins";
@import 'https://fonts.googleapis.com/css?family=Orbitron';

body{
    @include CenterWithFlex;
    background-color: antiquewhite;
}

.calculator_container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: $calc_height;
    width: $calc_width;
    background-color: $lightblack;
    @include boxShadowEffect;
    &:before{
        position: absolute;
        z-index:-1;
        content: "";
        height: 0.35*$calc_height;
        width: $calc_width;
        background-color: $reddishOrange;
    }
}

.calculator_display_result{
    height:0.35*$calc_height;    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color:white;
    padding: 10px;
    
}

.equation{
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

.result{
    position: relative;
    top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size:medium;    
    font-weight: bold;
}

.first_row_operators,.second_row_operators,.third_row_operators,.fourth_row_operators{
    @include row_operators_design;
    
    &:last-child{
        background-color: gray;
    }
    
    .operators{
       @include operators_styles($lightblack);
       @include lighten_background($lightblack);
    }
    
    .equals{        
       @include operators_styles($lightgreen);
       @include lighten_background($lightgreen);      
    }
    
    .delete{        
        position: relative;
        background-color: $lightblack;
        width:30px;
        cursor:pointer;
        margin-left: 10px;
        transition: transform 200ms ease-in-out;     
        &:before{            
            position: absolute;
            content: "";
            right: 95%;
            top:0px;
            width:0px;
            height:0px;
            border-top:10px solid transparent;
            border-right:10px solid $lightblack;
            border-bottom:15px solid transparent;
        }
        &:hover{
            transform: scale(1.2);
        }
        span{
            position: relative;
            left:10px;
        }        
    }          
}

.fourth_row_operators{
    .operators{
        @include operators_styles(gray); 
        @include lighten_background(gray);
    }
}






