@import "variables";
@import "mixins";
@import 'https://fonts.googleapis.com/css?family=Orbitron';

body{
    @include CenterWithFlex;
    flex-direction: column;
    background-color: antiquewhite;
}

.tips{
    a{
        i{
            padding-top: 10px;
            font-size:x-large;
            font-weight: bold; 
            color: $lightblack;
        }
    }
       
}

.calculator_container{
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: $calc_height;
    width: $calc_width;
    background-color: $lightblack;
    @include boxShadowEffect;
    &:before{
        position: absolute;
        z-index:-1;
        content: "";
        height: 0.35*$calc_height;
        width: $calc_width;
        background-color: $reddishOrange;
    }
}

.calculator_display_result{
    height:0.35*$calc_height;            
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;    
    color:white;
    width: $calc_width;
    padding:10px;    
}

.equation{    
    padding-left:10px;     
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: bold;    
}

.result{
    position: relative;
    top: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size:medium;    
    font-weight: bold;        
}

.first_row_operators,.second_row_operators,.third_row_operators,.fourth_row_operators{
    @include row_operators_design;
    
    &:last-child{
        background-color: gray;
    }
    
    .operators{
       @include operators_styles($lightblack);
       @include lighten_background($lightblack);
    }
    
    .equals{        
       @include operators_styles($lightgreen);
       @include lighten_background($lightgreen);      
    }
    
    .delete{
        font-size: 15px;
        font-weight: bold;        
       @include operators_styles(gray);
       @include lighten_background(gray);
    }          
}

.fourth_row_operators{
    .operators{
        @include operators_styles(gray); 
        @include lighten_background(gray);
    }
}






