//Mixins

@mixin CenterWithFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin row_operators_design{
    @include CenterWithFlex;
    height:($calc_height - 0.35*$calc_height)/4;
    justify-content: space-around;
    color: white;
    font-size: large;    
}

@mixin operators_styles($bgColor){
    background-color:$bgColor;
    border-radius: 50%;
    width:30px;
    height: 30px;
    cursor:pointer;
    @include CenterWithFlex;
    /*span{
        position: relative;
        top: 2px;
        left:9px;
    }*/
}

@mixin lighten_background($bgColor){
     &:hover{
           background-color: lighten($bgColor,10%);
     }  
}